---
#############################################
#                  Common                   #
#############################################
project_working_directory: /home/xuwang/CCC-COMP90024
proxy_address: http://wwwproxy.unimelb.edu.au:8000
remote_working_directory: /home/ubuntu/COMP90024

#############################################
#                   ngrok                   #
#############################################
ngrok_auth_token: 6A539T2Atf4rMhwsjoiYV_4ffk8BeuDjJXwHJ2G4gk4
ngrok_download: "https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip"
ngrok_path_download_tmp: "/tmp"
ngrok_path_install: "/opt/ngrok"
ngrok_path_bin: "/usr/bin/ngrok"
ngrok_path_init: "/etc/init.d"
ngrok_path_systemd: "/lib/systemd/system"
ngrok_console_ui: "false"
ngrok_region: "au"
ngrok_tunnels:
  - name: "HTTP"
    address: "localhost:80"
    proto: "http"
# need premium ngrok account with personalized hostname address
ngrok_start_tunnel: "--all"
ngrok_install_as_service: true  # creates init script
ngrok_service_name: ngrok
ngrok_daemon: "{{ ngrok_path_bin }}"
ngrok_daemon_opts: "start {{ ngrok_start_tunnel }} --config /{{ ngrok_user }}/.ngrok2/ngrok.yml"
ngrok_pidfile: "/var/run/ngrok.pid"

#############################################
#                 CouchDB                   #
#############################################
couchdb_version: 2.3.0
couchdb_config_path: /home/ubuntu/couchdb/etc
couchdb_share: 4
couchdb_replica: 3
cluster_cookie: 'hello'
cluster_communication_port_min: 9100
cluster_communication_port_max: 9102

#############################################
#                  Docker                   #
#############################################
enable_docker_remote_control: true

#############################################
#                 Backend                   #
#############################################


#############################################
#                 Machine learning          #
#############################################
backend_server_host: 172.26.38.1
backend_server_port: 8080
trained_tweet_api: "/api/tweet/trained/"
untrained_tweet_api: "/api/tweet/untrained/"
pic_tweet_api: "/api/tweet/pic/"
log_file_path: "logs/coconut_image_recong.log"
food179_checkpoints: "checkpoints/food179_resnet101_sgd_v3.pth_best.pth"
nsfw_checkpoints: "checkpoints/nsfw_resnet101_sgd_v3.pth_best.pth"
# server_rest_time: 30
# batch_size": 20
