version: '3'
services:
  nlp:
    container_name: nlp
    build: {{remote_working_directory}}/scraper/Text_Analysis
    volumes:
      - {{remote_working_directory}}/scraper/Text_Analysis:/workspace
    restart: always

