version: '3'
services:
  spider:
    container_name: spider
    build: {{remote_working_directory}}/scraper/GetResearchData
    volumes:
      - {{remote_working_directory}}/scraper/GetResearchData:/workspace
    restart: always
  backend:
    container_name: backend
    build: {{remote_working_directory}}/backend
    ports:
      - "8080:8080"
    volumes:
      - {{remote_working_directory}}/backend:/code
    restart: always

