{
  "server_address" : "{{ ansible_host }}",
  "server_port" : {{ backend_server_port }},
  "trained_tweet_api" : "{{ trained_tweet_api }}",
  "untrained_tweet_api": "{{ untrained_tweet_api }}",
  "pic_tweet_api": "{{ pic_tweet_api }}",
  "log_file_path": "{{ log_file_path }}",
  "food179_checkpoints": "{{ food179_checkpoints }}",
  "nsfw_checkpoints": "{{ nsfw_checkpoints }}",
  "server_rest_time": {{ server_rest_time }},
  "batch_size": {{ batch_size }}
}
