version: '3'
services:
  backend:
    container_name: machine_learning
    build: {{remote_working_directory}}/machine_learning
    volumes:
      - {{remote_working_directory}}/machine_learning:/workspace
    restart: always
