version: '3'
services:
  spider:
    container_name: spider
    build: {{remote_working_directory}}/scraper/GetResearchData
    volumes:
      - {{remote_working_directory}}/scraper/GetResearchData:/workspace
    restart: always
