version: '3'
services:
  frontend_prod_code:
    container_name: frontend_prod_code
    build: {{remote_working_directory}}/frontend
    volumes:
      - frontend_prod_code:/usr/src/ng-app/dist/
  backend:
    container_name: backend
    build: {{remote_working_directory}}/backend
    ports:
      - "8080:8080"
    volumes:
      - {{remote_working_directory}}/backend:/code
    restart: always
    networks:
      web_nw:
        ipv4_address: 172.20.0.2
  nginx_proxy:
    container_name: nginx_proxy
    build: {{remote_working_directory}}/config/webserver_nginx
    volumes:
      - frontend_prod_code:/usr/share/nginx/html
      - {{ remote_working_directory }}/frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    links:
      - backend
      - frontend_prod_code
    depends_on:
      - backend
    restart: always
    networks:
      web_nw:
        ipv4_address: 172.20.0.3

volumes:
  frontend_prod_code:

networks:
  web_nw:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16